<div class="banner" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
     data-aos-duration="800">
  <div class="banner-bg">
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
    <h1 class="name" data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
      Sasiwimon<br>Pattarakitsophon
    </h1>
    <h3 class="position" data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out"
        data-aos-duration="800">
      Tester
    </h3>
  </div>
</div>

<div class="container" style="margin-top: 50px; max-width: 900px">
  <div class="interview-section">
    <div class="question">
      <h5>Why do you choose to be a tester?</h5>
    </div>
    <div class="answer">
      <p>
        When I was a student, all students had the same basic classes and studied all together. When my friends finished
        their applications, they would call me up to try it out and I would end up finding bugs with the programs which
        helped them identify and resolve them. Since then, my friends would always call me up to test out their programs
        before submitting them to professors and that’s how I developed the passion to be a tester. I decided that I
        will be a tester, but I got some negative feedbacks. Others advised that you have better growth potential in
        software development field and I am a skilled programmer but I believe if everyone is developing, who will be
        testing? No one will be in charge of quality assurance. So I choose to be a tester. Being a tester, we have to
        really focus on the customer’s needs and user experience. We want to make sure that there is no problem when the
        customers use our product.
      </p>
    </div>

    <div class="question">
      <h5>Which characteristic would you like to remove from yourself?</h5>
    </div>
    <div class="answer">
      <p>
        I want to remove my fear and wariness. I think having some fear is okay because it helps us plan better and
        consider actions before doing something. However, fear is always limiting and it holds me back from being the
        best I can be. An example is when we talk or deal with customers, I usually worry about whether we can handle
        the issues or satisfy their needs (In the end, we mostly do well and they are usually happy, though). Fear
        affects our body, mind and spirit. I want to always do my best. If we worry about fear, we cannot improve
        ourselves. I don’t want to worry about if I will reach my goals in life.
      </p>
    </div>

    <div class="question">
      <h5>What kind of people do you like?</h5>
    </div>
    <div class="answer">
      <p>
        I like people who are kind, responsible and considerate. I love people who take care of one another. I guess I
        am that kind of person, so it’s good to be around people who are also like that. If we take a moment to be kind
        and take care of other people, we will all feel good and keep going in life. Oh, but if it’s related to work, I
        love people with creative solutions. If I have a product and they find some better way of doing something, I
        feel happy to be working with them. I love the creativity of people in the workplace.
      </p>
    </div>

    <div class="question">
      <h5>What kind of people would you like to be?</h5>
    </div>
    <div class="answer">
      <p>
        I like who I am. But I hope to reduce my fear. Especially during presentation, I feel so vulnerable because I’m
        so worried about not doing well. I think I’m getting better. In the next 10 years, I want to be in a place where
        people trust my opinion and my skills due to my expertise and experience because I’m no longer inexperienced.
        And, of course, being able to present projects and ideas without fear.
      </p>
    </div>

    <div class="question">
      <h5>What would you like to say to this company?</h5>
    </div>
    <div class="answer">
      <p>
        I want say to our CEO, Pac, thank you for giving me an opportunity to work here and gain experience in
        career/testing which allowed me to grow. He also helped me overcome my fears and I tried to develop into a
        better person and better tester. I grew a lot. I learn to handle greater responsibilities in projects I am
        uncertain about and I feel good about it.
      </p>
    </div>

    <div class="question">
      <h5>What’s important in life?</h5>
    </div>
    <div class="answer">
      <p>
        My family. To live together and be a family. To make them proud. To do well and grow together.
      </p>
    </div>
  </div>
</div>
