<div class="bg-kim" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
     data-aos-duration="800">
  <img src="../../assets/images/polygon_crop.png" class="img-responsive">
  <div class="container" id="kim">
    <div class="row">
      <div class="col-lg-7">
        <div class="relevance">
          <div class="text-left">
            <div data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
              <h1>RELEVANCE.</h1>
              <h1>DELIVERED.</h1>
            </div>
            <div data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
              <p>We are your digital transformation engine</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
