<div class="banner" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
     data-aos-duration="800">
  <div class="banner-bg">
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
    <h1 class="name" data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
      Kittiya<br>Thanasarn
    </h1>
    <h3 class="position" data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out"
        data-aos-duration="800">
      Manager
    </h3>
  </div>
</div>

<div class="container" style="margin-top: 50px; max-width: 900px">
  <div class="interview-section">
    <div class="question">
      <h5>เรียนจบทางด้านนิติศาสตร์แล้วมาทำงานที่ไม่ตรงสายนั้นมีความยากง่ายแตกต่างกันยังไง</h5>
    </div>
    <div class="answer">
      <p>
        หากนับตั้งแต่เรียนจบมาต้องพูดเลยว่าไม่เคยทำงานที่ตรงสายเลย
        แต่หากว่าจะตรงสายจริงๆแล้วนั้นมันก็โชคดีตรงที่เรามีพื้นฐานของมันมาก่อน
        ส่วนการทำงานจริงๆมันเทียบไม่ได้เลยกับการเรียนจะเรียกว่าเริ่มต้นใหม่เลยก็ว่าได้
        การทำงานที่โคเดียมนี่จริงๆแล้วใกล้เคียงกับงานสายนิติศาสตร์ที่สุดเพราะเริ่มแรกเข้ามาได้เข้ามาทำในส่วนของ HR
        ที่ได้แตะกฎหมายแรงงานและเคสบางอย่างที่เราเคยอ่านเจอในฎีกาบางทีก็มีเจอกับตัวเอง
        ส่วนตอนนี้ก็จะได้แตะในส่วนของกฎหมายภาษีบางคร่าวๆ ไม่ได้ลงรายละเอียด
        หรือกฎหมายหุ้นส่วนบริษัทในบางครั้งก็ถือว่าเป็นประสบการณ์
      </p>
      <p>
        ถามว่ายากง่ายต่างกันยังไงในเรื่องตัวงานนั้นคิดว่ามันฝึกกันได้บางอย่างมีมันฟอร์มตายตัวว่าต้องทำยังไง
        ถ้าจะยากก็คงเป็นเรื่องของ “คน” เพราะสังคมที่เจอมาจะเป็นสังคมของกฎหมายพ่อรับราชการตำรวจ แม่ทำงานคุมประพฤติ
        เรียนนิติศาสตร์ ก็เลยค่อนข้างจะชินกับการคิดหลายๆอย่าง แต่พอมาเป็น “วิศวะ”
        ตอนแรกนี่ช๊อคไปเลยพูดอะไรกันไม่รู้เรื่อง เราไม่รู้ความต้องการของเค้าว่าต้องการอะไร ไม่รู้ว่าเค้าต้องการสื่ออะไร
        เราไม่รู้ว่าสิ่งนี้จำเป็นสำหรับเค้านะ แต่สำหรับเราอันนี้มันไม่จำเป็นอะไรทำนองนี้
        ซึ่งต้องใช้เวลานานพอสมควรกว่าจะลงตัว
      </p>
    </div>

    <div class="question">
      <h5>สามารถนำนิติศาสตร์เข้ามาประยุกต์ใช้กับซอฟต์แวร์ได้อย่างไร</h5>
    </div>
    <div class="answer">
      <p>
        ไม่เชิงว่านำมาประยุกต์กับซอฟต์แวร์…แต่สามารถนำไปประยุกต์ใช้เวลาคุยกับลูกค้าได้เช่นเราต้อนเค้าด้วยคำถามเพื่อให้รู้ความต้องการของตัวเองได้มากที่สุดและเร็วที่สุด
        เพราะหลายครั้งลูกค้ามักจะบอกว่า “อยากได้ระบบนี้ทำให้หน่อย” แต่องค์ประกอบภายในจะมีอะไรบ้างเราไม่รู้ เราต้องตี
        Requirement ของลูกค้าและเข้าใจ Business Flow
        ของเค้าให้เข้าใจเหมือนกับการตีความกฎหมายเพราะสุดท้ายแล้วบูมมีเทคนิคคือการวาดออกมาเป็นตุ๊กตาให้ลูกค้าได้เข้าใจ
      </p>
    </div>

    <div class="question">
      <h5>ถ้าย้อนกลับได้ยังจะเรียนนิติศาสตร์อยู่มั้ย</h5>
    </div>
    <div class="answer">
      <p>
        เคยมีคำกล่าวที่ว่าไม่เก่งเลข ไม่เก่งภาษาอังกฤษ
        ไม่เก่งวิทยาศาสตร์สุดท้ายเลยต้องมาเรียนนิติศาสตร์มั้นก็คือเรื่องจริง แต่เราต้องชอบด้วย
        บูมคิดว่าคนเราเรียนอะไรได้ถ้าชอบในสิ่งนั้น
        เพราะฉะนั้นแล้วหากย้อนกลับไปได้ก็ยังอยากเรียนนิติศาสตร์อยู่ดีเพราะคนที่รู้กฎหมายเหมือนมีเกราะป้องกันตัวเองป้องกันไม่ให้ใครมาเอาเปรียบเราได้
      </p>
    </div>

    <div class="question">
      <h5>ทำงานที่โคเดียมเข้าปีที่ 4 แล้วรู้สึกยังไงบ้าง</h5>
    </div>
    <div class="answer">
      <p>
        เหนื่อย! รู้สึกว่าเหนื่อยตั้งแต่เข้ามาทำงานที่นี่วันแรกจนถึงวันนี้แต่มันเป็นความเหนื่อยที่ภูมิใจนะ
        เพราะเราได้ทำอะไรหลากหลายอย่างแบบที่คิดว่าตัวเองคงไม่มีทางที่จะทำได้ แต่ก็ทำได้ อย่างเช่นทำบัญชี
        บูมเป็นคนที่เกลียดตัวเลขมาแต่ช่วงที่บัญชีลาออกบูมต้องนั่งทำบัญชีอยู่เกือบ 6 เดือนมันเป็นอะไรที่ทรมานมาก
        แต่พอเลิกทำแล้วก็หันกลับมามองตัวเองก็แบบ เฮ้ย! เราก็ทำได้นี่ แกทำอะไรฉันไม่ได้หรอกตัวเลข
        ก็แค่นั่งร้องไห้กับตัวเองและคร่ำครวญว่าจะลาออกเกือบทุกวัน 555
        หรืออย่างการออกแบบหน้าระบบที่เราไม่มีความรู้เลยแต่เราก็ทำมันออกมาได้ดี หรือแม้กระทั่งการทำออฟฟิศที่ไปยกโต๊ะ
        ไปเลือกโต๊ะ เก้าอี้ด้วยตัวเองเลย พอเห็นคนที่ใช้แล้วเค้าพอใจเราก็หายเหนื่อยเลย
      </p>
    </div>

    <div class="question">
      <h5>อะไรเป็นบทเรียนที่ที่โคเดียมสอนเรามากที่สุด</h5>
    </div>
    <div class="answer">
      <p>
        ความไม่ประมาท ประมาณว่า “อะไรก็เกิดขึ้นได้แม้ได้ PO”
        มาเป็นที่หนึ่งทำให้รอบคอบในการใช้ชีวิตตามด้วยการเรียนรู้และการเข้าใจธรรมชาติของคนว่าเค้าคิดอย่างไรและเค้าต้องการอะไรจากเรา
        คือมันทำให้เราเติบโตขึ้นในแบบที่เป็นเราในทุกวันนี้
      </p>
    </div>

    <div class="question">
      <h5>ในฐานะ HR และคนที่มีประสบการทำงานมาหลายสายงานอยากฝากอะไรถึงเด็กรุ่นใหม่</h5>
    </div>
    <div class="answer">
      <p>
        ความรู้ว่าตัวเองต้องการอะไรคือสิ่งที่สำคัญที่สุด หลายคนที่เดินเข้ามาสัมภาษณ์มักจะไม่รู้ว่าตัวเองต้องการอะไร
        บางคนอายุ 30 กว่าเดินเข้ามาในออฟฟิศถามว่าเป้าหมายของตัวเองคืออะไร ตอบไม่รู้ไม่มีคิดว่ามันไม่ใช่
        ซึ่งมันจะโทษที่ตัวบุคคลนั้นก็ไม่ได้ต้องโทษที่ระบบการศึกษาของไทย ที่มุ่งเน้นวิชาการ มุ่งเน้นที่ผลงานของอาจารย์
        จนลืมใส่ใจไปว่าอนาคตของชาติยังไม่รู้เลยว่าตัวเองนั้นต้องการอะไร
        ในส่วนนี้มองว่าจะอาจารย์สามารถตกผลึกลูกศิษย์ออกมาได้เร็วท่าไหร่ประเทศไทยเราก็จะพัฒนาได้เร็วมากยิ่งขึ้น
        เหมือนไม่ได้ฝากถึงเด็กแต่ฝากให้กับอาจารย์มากกว่า
      </p>
    </div>
  </div>
</div>
