<div class="bg-kim" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <img src="../../assets/images/polygon_crop.png" class="img-responsive">
  <div class="container" id="kim">
    <div class="row">
      <div class="col-lg-7">
        <div class="relevance">
          <div class="text-left">
            <div data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
              <h1>CONTACT</h1>
            </div>
            <div data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
              <p>Siam@Siam Hotel Building, 7th Floor</p>
              <p>865 Rama 1 Road</p>
              <p>Wang Mai, Patumwan</p>
              <p>Bangkok 10330, Thailand</p>
            </div>
            <div class="telephone" data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
              <p>
                <i class="fas fa-phone">
                </i> 02 612 3838
              </p>
              <a href="mailto:contact@codium.co">
                <i class="far fa-envelope"></i>
                contact@codium.co
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
