<div class="ptt-bg"></div>
<img src="../../../assets/images/half_polygon.png" class="img-responsive">
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="polygon-data">
        <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="300" data-aos-once="true"
             data-aos-duration="1200">
          <img src="../../../assets/images/ptt_logo.png" height="60">
          <h1 class="brand">PTTD POS</h1>
          <p class="slogan">
            Next-generation, centralized command and control dashboard
          </p>
        </div>
        <div class="detail">
          <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="300" data-aos-once="true"
               data-aos-duration="1200">
            <h5>ISSUE OVERVIEW</h5>
            <p class="m-t-15">
              PTTD had been using a costly off-the-shelf solution to send information to their POS system
              which communicated sales information from their hardware. They wanted to reduce the costly monthly cost
              for
              the system
            </p>
          </div>
          <div style="margin-top: 30px" data-aos="fade-right" data-aos-delay="300" data-aos-once="true"
               data-aos-duration="1200">
            <h5>HOW WE HELPED</h5>
            <p class="m-t-15">
              We developed a system to communicate information from the pump to the POS
              system that didn't have constly monthly maintenance fee which fits all customers requirement.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="stat">
        <div style="padding-top: 30px" data-aos="zoom-in" data-aos-offset="200" data-aos-once="true" data-aos-duration="600">
          <div class="icon">
            <img src="../../../assets/images/change.png" height="100">
          </div>
          <h1>200M+</h1>
          <p>THB SAVED</p>
        </div>
        <div style="margin-top: 70px" data-aos="zoom-in" data-aos-offset="200" data-aos-once="true" data-aos-duration="600">
          <div class="icon">
            <img src="../../../assets/images/gas.png" height="100">
          </div>
          <h1>2000+</h1>
          <p>GAS STATIONS DEPLOYED BY 2020</p>
        </div>
        <div style="margin-top: 100px" data-aos="fade-up" data-aos-offset="200" data-aos-once="true" data-aos-duration="1200">
          <h5>RESULTS</h5>
          <p>
            Implemented in over 400 gas stations all over Thailand. Lower PTTD cost.
            They have timely support from us to quickly solve issues that may incur.
            Their time is money.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="../../assets/images/polygon_black.png" class="img-responsive-right">
<img src="../../../assets/images/map_thailand.png" class="map-thailand">
