.container {
  padding-top: 10rem;
}

.team-member {
  margin-top: 50px;
}

.col-sm-6, .col-md-4, .col-lg-3 {
    padding: 0;
}

.image-frame {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;
  .overlay {
    height: 100%;
    width: 100%;
    background: #15273d;
    position: absolute;
    text-align: center;
    transition: all 500ms ease-in-out;
    opacity: 1;
    .overlay-text {
      margin: auto;
      width: 100%;
      top: 55%;
      position: absolute;
      opacity: 1;
      transition: all 500ms ease-in-out;
      .name {
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 15px;
        font-size: 26px;
        text-transform: uppercase;
      }
      .position {
        color: #ffffff;
        font-family: 'Exo 2';
        padding: 5px 15px;
        //border: 2px solid #ffffff;
        max-width: 200px;
        font-size: 15px;
        margin: auto;
      }
    }
    &:hover {
      .overlay-text {
        opacity: 1;
      }
    }
  }
  img {
    position: absolute;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    opacity: 0.3;
  }
  &:hover {
    img {
      opacity: 1;
    }
    .overlay {
      //transform: translate(50%)
    }
  }
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

.container {
  p {
    max-width: 650px;
    margin: auto;
  }
}
