<div class="container-fluid" id="headerSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
  data-aos-duration="800">
  <!-- <div class="overlay"></div> -->
  <div class="container text-center">
    <h1 data-aos="zoom-in" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="600">CAREERS</h1>
    <p data-aos="zoom-in" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="700">Funny, purposeful team. Make an impact. Daily dose of growth vitamin</p>
    <div data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
      <button class="button button--wayra" id="openPosition" (click)="scrollToJob()">Open Positions</button>
    </div>
  </div>
</div>

<div class="container" id="aboutCodiumSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
  data-aos-duration="800">
  <div class="row">
    <div class="col-md-6">
      <h3>Being a C<span style="color: #e06666;">O</span>D<span style="color: #2aaece;">I</span>UM</h3>
      <div class="quote">
        <div class="row">
          <div class="col-md-1">
            <span style="margin: 0 10px">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="col-md-10">
            <p class="text-center">
              I think the only really important criteria for quality in software is:
              <strong>relevance.</strong>
              That is, someone is using it, and it's solving someone's real problem.
            </p>
          </div>
          <div class="col-md-1">
            <span style="margin: 0 10px">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <p class="text-right">– Pieter Hintjens</p>
      </div>
      <p class="quote-description">
        The quote above captures the essence of what it means to be a Codium – impact. We pride ourselves in building shit that matters.
        Shit that is relevant and reaps us benefits. From building Thailand’s first-ever, bandwidth-on-demand system to saving
        hundred millions of baht for a Fortune 500 company with our innovation, C0D1UM has always taken on large-scale projects
        that challenge the young minds to defy the impossible.
      </p>
      <p>Are you ready to be Codiumified? If so, take the
        <strong style="color: #e06666">
          <i>red pill</i>
        </strong>, and read on.</p>
    </div>
    <div class="col-md-5 codium-promo-image">
      <img src="../../assets/images/careers/threefriends.png" alt="" class="img-fluid">
      <img src="../../assets/images/careers/jamesit.png" alt="" class="img-fluid ontop-image">
    </div>
  </div>
</div>

<div class="" id="cultureSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="container">
    <h3 class="text-center">Culture</h3>
    <hr>
    <p class="text-center culture">
      Whiteboard, flashcards, post-its, fitting notebooks and pens, code reviews, 10AM daily standup, international</p>
    <div class="row culture-image">
      <div class="col-md-4">
        <img src="../../assets/images/careers/codereview.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/careers/taskboard.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/careers/meeting.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="humorSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="container">
    <h3 class="text-center">Sense of Humor</h3>
    <hr>
    <p class="text-center">We joke around lighthearted stuff all the time. Cannot help
      <strong>
        <i>not</i>
      </strong>
      doing it</p>
    <div class="joke-block">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/images/careers/boardgameplay2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
          <img src="../../assets/images/careers/funny1.png" alt="" class="img-fluid">
          <img src="../../assets/images/careers/funny2.png" alt="" class="img-fluid m-t-20">
        </div>
        <div class="col-md-3">
          <img src="../../assets/images/careers/game_face.png" alt="" class="img-fluid">
          <img src="../../assets/images/careers/funny3.png" alt="" class="img-fluid m-t-20">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="benefitSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="container">
    <h3 class="text-center">Company Benefits</h3>
    <hr>
    <p class="text-center wrapper-700">We pride ourselves in making our people happy and motivated. Below is what you can expect when you join our team</p>
    <div class="row benefit-detail">
      <div class="col-md-6">
        <img src="../../assets/images/careers/compensation.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 benefit-description">
        <h4>Compensation</h4>
        <ul>
          <li>Competitive salary</li>
          <li>Social security fund</li>
          <li>Discretionary profit sharing</li>
          <li>Discretionary annual bonus</li>
          <li>Overtime paid as necessary</li>
          <li>Employee referral bonus: 10,000 Baht</li>
        </ul>
      </div>
      <div class="col-md-6 benefit-description">
        <h4>Well-being</h4>
        <ul>
          <li>Medical and dental health insurance to keep you safe and cozy</li>
          <li>Daily delicious, free snacks and drinks</li>
          <li>Company-paid dinner for those who stay late</li>
          <li>Company-paid lunches and dinners for special occasions</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/careers/foodandsnack.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/careers/justinsit.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 benefit-description">
        <h4>Our Office ( aka C0D1UM π )</h4>
        <ul>
          <li>Spacious, open office with big tables and ergonomic chairs</li>
          <li>24x7 A/C with remote controls. Say no to centralized A/C</li>
          <li>24x7 office access guarded by building securities</li>
        </ul>
      </div>
      <div class="col-md-6 benefit-description">
        <h4>Mind and Body</h4>
        <ul>
          <li>11 vacation days (with 1 additional day once you have hit your third year)</li>
          <li>5-day obligatory leaves and accommodating sick leaves</li>
          <li>5-day work week, Monday through Friday. Yeah, baby!</li>
          <li>Flexible work hours with 9:30 – 6:30 as our standard working time</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/careers/outing2-cut.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/careers/siamatsiam.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 benefit-description">
        <h4>The Daily Commute</h4>
        <ul>
          <li>Five-minute walk from BTS National Stadium</li>
          <li>Free car parking</li>
          <li>
            Next to MBK, Siam Square, CU Centennial Park, Chulalongkorn University, National Stadium, BACC, Banthat Thong, CocoWalk ...need
            we say more?
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="macAndBoardGameSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/images/careers/gadget.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-6" id="macContainer">
      <div class="container">
        <h4>Hacker Weapons</h4>
        <ul>
          <li>Macbook Pro: Retina + SSD (that you can take home with)</li>
          <li>27" Full HD monitors (dual monitors if you are lucky)</li>
          <li>Awesome hacker software tools: Jetbrains, Balsamiq, Slack, etc.</li>
          <li>No stinkin’ Microsoft Windows</li>
          <li>Company-provided electronic equipments for über geeks like you</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="macAndBoardGameSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="row">
    <div class="col-md-6">
      <div class="container" id="boardGameContainer">
        <h4>Our Fun Together</h4>
        <ul>
          <li>Annual company outings</li>
          <li>Paid professional development—books, training, etc</li>
          <li>Free company gears: t-shirts, shorts, stickers, etc</li>
          <li>Office’s board games: Werewolf, UNO, Chess, Skyfall, Deception, and Citadels (don't be surprised if you are asked
            to play one round during the interview)
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../assets/images/careers/boardgame.png" alt="" class="img-fluid">
    </div>
  </div>
</div>

<div class="container-fluid" id="ourTechnologySection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="container">
    <h3 class="text-center">Our Technologies</h3>
    <hr>
    <div class="logo-panel">
      <img src="../../assets/images/careers/dg_techhive-01.png" class="img-fluid">
    </div>
  </div>
</div>

<div class="container-fluid" id="jobDescriptionSection" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-duration="800">
  <div class="container" id="availablePositions">
    <h3 class="text-center">Open Positions</h3>
    <hr>
    <h3 class="job">Software Engineer
      <span style="color: #e06666;">//</span> Software Developer
      <span style="color: #e06666;">//</span>
      Programmer</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>Our Codiums</h4>
        <ul>
          <li>Embody 5 key skills: programming, UX/UI design, client-facing, pride, and humor</li>
          <li>Age 21-30 preferred</li>
          <li>All nationalities welcomed. Work permit granted after passing probation</li>
          <li>Both female and male welcomed</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Work Ethos</h4>
        <ul>
          <li>Possess can-do attitude with self-initiative</li>
          <li>
            Being called upon at 2AM because your project is in trouble doesn't bother you because you take pride in what you do (though
            as a team, we rarely let it happen)
          </li>
          <li>Discipline is a necessity</li>
          <li>Writing bad code must bother you</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>The Engineering Mind</h4>
        <ul>
          <li>The "engineer" mindset: objective-driven, problem solving, logical, structured thinking, and creative
          </li>
          <li>GitHub/BitBucket account with projects you’ve built with your own hands to back it up</li>
          <li>If you have a hands-on experience with any of the following keywords, we will give you a special consideration
            (because it’s what we do and use): Functional programming, Event-driven architecture, macOS, TypeScript, AngularJS,
            Git, GitHub, Redis, PostgreSQL, Kotlin, Swift, AWS, Qt, C++14, Webpack, Sass, Python 3, Docker, Bootstrap, ZeroMQ,
            Protobuf, C#, Vagrant, Django, UX/UI, BDD, NGINX, Ubuntu, Continuous Integration and Deployment
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
