@import url("https://use.typekit.net/sjj4xzz.css");
@import url('https://fonts.googleapis.com/css?family=Exo+2:300');
@import "~aos/dist/aos.css";

body, html {
  height: 100%;
  font-family: 'Prometo';
  font-weight: 300;
  color: #15273d;
}


h1, h2, h3, h4, h5, p {
  color: #15273d;
}

p {
  font-family: 'Exo 2';
  font-weight: 300;
  color: #15273d;
}

a {
  color: #15273d;
  &:hover {
    text-decoration: none !important;
    color: #15273d;
  }
}

ul {
  list-style-type: none;
}
