<div class="banner" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
     data-aos-duration="800">
  <div class="banner-bg">
    <div class="overlay"></div>
  </div>
  <!--<div class="container">-->
  <div class="banner-content">
    <h1 class="name" data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
      Sivabudh<br>Umpudh
    </h1>
    <h3 class="position" data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out"
        data-aos-duration="800">
      CEO
    </h3>
  </div>
  <!--</div>-->
</div>

<div class="container" style="margin-top: 50px; max-width: 900px">
  <div class="interview-section">
    <div class="question">
      <h5>What does CODIUM stand for as a company? What’s the company’s DNA?</h5>
    </div>
    <div class="answer">
      <p>
        CODIUM stands for change and relevance. Change in our context means we want to be the company that represents
        change for the better of the country and as the model company of how to create a better working environment for
        the employees.
      </p>
      <p>
        Relevance in our context means we build stuff that matters. We measure this by how the things that we build
        benefit the end users. So our DNA is building things that create an impact. And I certainly hope that we stand
        for passion. I want to prove that you don’t have to be a billion baht company to make a lasting impact to
        Thailand. You can be a small firm like us to make an impact that can inspire other people.
      </p>
    </div>

    <div class="question">
      <h5>Why does it matter that we must so-called “change Thailand”? What’s the point?</h5>
    </div>
    <div class="answer">
      <p>
        After working for almost fifteen years now, at the end of the day, you ask yourself, “What is it we want in
        life?” The thing that matters to me – now – is what I do and how it benefits other people. So my answer is why
        not? Why can’t we change Thailand for the better? I think about the 40 to 50 years left in my life, what would
        be the best way to spend my life? For me, the answer is in seeing the people at CODIUM grow and seeing what
        we’ve built actually matters and is relevant.
      </p>
    </div>

    <div class="question">
      <h5>I saw a quote on your website that says software quality should be measured by relevance. Why is that? Could
        you please elaborate a bit more on that?</h5>
    </div>
    <div class="answer">
      <p>
        I used to work at top software firm in the States, and during a conversation with a coworker, he shared, “We
        build all these high quality software but none of it gets used.” This is what I mean by relevance or lack
        thereof. I think that when a company pays for software, they pay because it benefits them somehow. If it
        doesn’t, that’s a waste of money, time and the hard work that people put in to make it. If it doesn’t, well,
        simply put, it’s irrelevant.
      </p>
    </div>

    <div class="question">
      <h5>As a business owner, what has been the most gratifying experience? </h5>
    </div>
    <div class="answer">
      <p>
        Seeing the people here at CODIUM growing. We are getting better at taking fresh grads with good qualities like
        humbleness and motivated and putting them through both soft and hard skills training that equip them with enough
        skills to create values for our clients in due time. That is the most gratifying thing especially seeing all the
        approvals from our clients.
      </p>
      <p>There’s this quote that you probably have heard of before,</p>
      <p class="quote">
        “ Give a man a fish and you feed him for a day; teach a man to fish and you feed him for a lifetime. ”
      </p>
      <p>
        I would like to add to that quote that in addition to teaching, if you can instill some passion to motivate them
        to fish, you will truly feed them for a lifetime. My belief is just because someone knows how to fish doesn’t
        mean he will feed himself.
      </p>
    </div>

    <div class="question">
      <h5>Most dispirited experience?</h5>
    </div>
    <div class="answer">
      <p>
        The most dispirited experience is the people. People problem demotivates me. People who are not discipline,
        those who do not strive to better their craft and those who have bad attitudes. Those really get to me.
      </p>
    </div>

    <div class="question">
      <h5>Can you name one personal transformation that you are really proud of?</h5>
    </div>
    <div class="answer">
      <p>
        I am proud of my public speaking skills. I was terrible at it when I was younger. I would shake and stutter. I
        still remember my horror story during the last quarter of my undergrad years. I had to present to the class. I
        stuttered so much it made people feel uncomfortable. I still remember one of my teammates jokingly teased me
        afterwards, “Man, you were really nervous.” It might seem insignificant but I felt exposed. I vowed to myself
        that one way or another I <span class="text-bold">will</span> overcome this limitation.
        <br><br>
        Before I go on, talking about this transformation process got me remembering this story from one of the self
        help books. She said, “I used to fear speaking and now I can’t stop talking.” At the time while reading the
        book, I thought to myself there’s no way in hell I would ever feel like that.
        <br><br>
        Well, here I am today. I can’t seem to stop talking. LOL! Thanks to my experience as an adjunct lecturer at
        Chulalongkorn University, I improved finally and the fear went away. Now, I can talk all day. My ultimate moment
        of triumph was when I unveiled Cloud HM – our cloud joint venture with the Benchachinda group – to a crowd of
        over 300 people with much praise.

      </p>
    </div>

    <div class="question">
      <h5>To get to where you are now, you obviously had to go through a lot of shit. What was your most traumatic
        disappointment career-wise?</h5>
    </div>
    <div class="answer">
      <p>
        The last company I ever worked for in a corporate setting, I was let go. They fired me because I was not good
        enough technically and perhaps didn’t fit in with them culturally. Whatever the case maybe, it happened right
        after my two-week vacation in Thailand. It was really traumatic not because I didn’t think I couldn’t get a new
        job but because up to that point, I had never failed before.
        <br><br>
        But you know what? That failure turned out to be one of the best things that ever happened to me. Without it, I
        would never have decided to come teach at Chulalongkorn. Without it, I would never have gotten a chance to
        startup CODIUM and Cloud HM. Without it, I would not be who I am today. And though running a business is
        definitely much more demanding, I wouldn’t trade it for the world. The lesson learned is sometimes
        disappointment in life can lead to better, greater things.
        <br><br>
        So, thank you for firing me!
      </p>
    </div>

    <div class="question">
      <h5>What are the three weird things about you that most people don’t know about?</h5>
    </div>
    <div class="answer">
      <p>
        First, the height of my table measures exactly 70 cm from the ground. I need it to be that height, otherwise I
        get body pain. Second, I dress poorly as the CEO of a company. If there was a competition, I most likely will
        win the worst-dressed CEO of Thailand. Thirdly, I like to watch movies with the volume almost inaudible and
        prefer to read the subtitles instead.
      </p>
    </div>
  </div>
</div>
