.banner {
  position: relative;
  width: 100%;
  .banner-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    bottom: 30%;
    left: 15%;
    .name {
      color: #ffffff;
      font-size: 5vw;
      text-transform: uppercase;
      font-family: 'Prometo';
      font-weight: bold;
      flex: 1;
    }
    .position {
      color: #00bbee;
      font-size: 2vw;
      text-transform: uppercase;
      font-family: 'Exo 2';
      flex: 1;
    }
  }
}

.banner-bg {
  padding-bottom: 50%;
  width: 100%;
  background: url("../../../../assets/images/photoshoot/pac/pac_banner.png");
  background-size: cover;
  background-position: center;
  .overlay {
    padding-bottom: 50%;
    width: 100%;
    background: #15273d;
    opacity: 0.4;
    position: absolute;
  }
}

.container {
  //padding-top: 100rem;
}

.question {
  margin-bottom: 20px;
  h5 {
    font-size: 22px;
    font-family: 'Prometo';
    font-weight: bold !important;
  }
}

.answer {
  margin-bottom: 50px;
}

.quote {
  font-family: Prometo;
  font-size: 32px;
  color: #ef6666;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-bold {
  color: #ef6666;
}
