<div class="banner" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out"
     data-aos-duration="800">
  <div class="banner-bg">
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
    <h1 class="name" data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out" data-aos-duration="800">
      Supayuth<br>Raksuk
    </h1>
    <h3 class="position" data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out"
        data-aos-duration="800">
      Backend Developer
    </h3>
  </div>
</div>

<div class="container" style="margin-top: 50px; max-width: 900px">
  <div class="interview-section">
    <div class="question">
      <h5>ไม่ชอบอะไร?</h5>
    </div>
    <div class="answer">
      <p>
        ผมไม่ชอบอะไร ผมไม่ชอบนอนนั่นคือเรื่องจริง
        <br><br>
        ไม่ชอบนอนแล้วใช้เวลาทำอะไร? ส่วนใหญ่จะเล่นดนตรี เล่นกีต้าร์ แต่งเพลง เขียนโปรแกรม อ่านหนังสือ ดูหนัง
        โดยส่วนตัวแล้วผมเป็นคนนอนน้อยมากต่อวันก็เฉลี่ยวันละ 4-5 ชั่วโมง
      </p>
    </div>

    <div class="question">
      <h5>ชอบอะไรเกี่ยวกับงานที่ทำปัจจุบัน?</h5>
    </div>
    <div class="answer">
      <p>
        เพราะว่ามันเป็นอาชีพที่ท้าทาย ได้เจอโจทย์ใหม่ๆและเวลาทำงานก็ค่อนข้างสบายเพราะใช้เวลาอยู่หน้าคอมพ์
        ไม่ต้องออกไปเหนื่อยใช้แรง
        <br><br>
        ส่วน environment ที่ชอบน่าจะเป็นเรื่องของสภาพแวดล้อม นิสัยใจคอของคน เพื่อนร่วมงาน
        รวมถึงอุปกรณ์ที่ใช้ในการทำงานที่มีความสะดวกสบาย
      </p>
    </div>

    <div class="question">
      <h5>มีปัญหาเรื่องการปวดตามร่างกายรึเปล่า?</h5>
    </div>
    <div class="answer">
      <p>
        ไม่ค่อยมีเพราะเวลาที่ผมนั่งทำงานจะไม่ค่อยอยู่นิ่งจะลุกเดินไปนั่นไปนี่บ้าง เลยไม่มีปัญหาเรื่องของปวดตัว
      </p>
    </div>

    <div class="question">
      <h5>บริษัทที่ดีเป็นยังไง?</h5>
    </div>
    <div class="answer">
      <p>ผมคิดว่าสถานที่ทำงานที่ทุกคน relax ผ่อนคลาย
        ทุกคนรู้หน้าที่ว่าต้องทำอะไรเพราะจะช่วยให้บริษัทไปในทางที่ถูกที่ควร</p>
    </div>

    <div class="question">
      <h5>เพลงคาราโอเกะที่ชอบ?</h5>
    </div>
    <div class="answer">
      <p>ทุกเพลงของ Oasis</p>
    </div>
  </div>
</div>
